src/flows/Create_Course-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>CalculateFees</name>
        <label>CalculateFees</label>
        <locationX>29</locationX>
        <locationY>496</locationY>
        <apexClass>CreateCourse</apexClass>
        <connector>
            <targetReference>courseUpdated</targetReference>
        </connector>
        <inputParameters>
            <name>Course_duration</name>
            <value>
                <elementReference>Course_duration</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vTotalPayment</assignToReference>
            <name>totalPayment</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Course_Already_Exists</name>
        <label>Course Already Exists?</label>
        <locationX>206</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_new_Course</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Course does not exist</defaultConnectorLabel>
        <rules>
            <name>Course_already_exist_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>course_already_exist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_duration_if_course_already_exist</targetReference>
            </connector>
            <label>Course already exist- true</label>
        </rules>
    </decisions>
    <label>Create Course</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Course</name>
        <label>Create new Course</label>
        <locationX>420</locationX>
        <locationY>403</locationY>
        <assignRecordIdToReference>vCourseId</assignRecordIdToReference>
        <connector>
            <targetReference>Course_created_message</targetReference>
        </connector>
        <inputAssignments>
            <field>Course_Duration__c</field>
            <value>
                <elementReference>Course_duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Course_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Course_name</elementReference>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordCreates>
    <recordLookups>
        <name>course_already_exist</name>
        <label>course already exist?</label>
        <locationX>207</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Course_Already_Exists</targetReference>
        </connector>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Course_name</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputAssignments>
            <assignToReference>vCourseDuration</assignToReference>
            <field>Course_Duration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCourseName</assignToReference>
            <field>Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_duration_if_course_already_exist</name>
        <label>Update duration if course already exist</label>
        <locationX>33</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>CalculateFees</targetReference>
        </connector>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCourseName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Duration__c</field>
            <value>
                <elementReference>Course_duration</elementReference>
            </value>
        </inputAssignments>
        <object>Course__c</object>
    </recordUpdates>
    <screens>
        <name>Course_created_message</name>
        <label>Course created message</label>
        <locationX>421</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>courseUpdated_0</targetReference>
        </connector>
        <fields>
            <name>Cousecreatedmsg</name>
            <fieldText>course with Name: {!Course_name} and Duration: {!Course_duration}  created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>courseUpdated</name>
        <label>courseUpdated</label>
        <locationX>31</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CourseUpdatedMsg</name>
            <fieldText>Total course fee is {!vTotalPayment}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>courseUpdated_0</name>
        <label>courseUpdated</label>
        <locationX>425</locationX>
        <locationY>619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CourseUpdatedMsg_0</name>
            <fieldText>Total course fee is {!vTotalPayment}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Create_Course</name>
        <label>Create Course</label>
        <locationX>204</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>course_already_exist</targetReference>
        </connector>
        <fields>
            <name>CreateCousedisplay</name>
            <fieldText>{!CreateCourse}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Course_name</name>
            <dataType>String</dataType>
            <fieldText>Course name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_duration</name>
            <dataType>Number</dataType>
            <fieldText>Course duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>Course duration must be greater than 5.</errorMessage>
                <formulaExpression>Course_duration &gt; 5</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>Create_Course</startElementReference>
    <textTemplates>
        <name>CreateCourse</name>
        <text>Please enter the values for Course name and duration.</text>
    </textTemplates>
    <variables>
        <name>vCourseDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vCourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCourseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTotalPayment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
