src/flows/Mortgage_Calculator-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Calculate_Quote</name>
        <label>Calculate Quote</label>
        <locationX>306</locationX>
        <locationY>372</locationY>
        <apexClass>MortgageCalculator</apexClass>
        <connector>
            <targetReference>Show_Quote</targetReference>
        </connector>
        <inputParameters>
            <name>Amount</name>
            <value>
                <elementReference>Mortgage_Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Rate</name>
            <value>
                <elementReference>Interest_Rate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Term</name>
            <value>
                <elementReference>Term_months</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vaMonthlyAmount</assignToReference>
            <name>MonthlyPayment</name>
        </outputParameters>
    </apexPluginCalls>
    <constants>
        <name>coCompany</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FlowCo Inc.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>299</locationX>
        <locationY>164</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>User_Found_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_User_Exist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mortgage_Information</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <label>Mortgage Calculator</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>421</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>Get_Mortgage_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>coCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Does_User_Exist</name>
        <label>Does User Exist</label>
        <locationX>298</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>User_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_First_Name</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User_Last_Name</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Get_Customer_Information</name>
        <label>Enter Your Contact Info</label>
        <locationX>133</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_User_Exist</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Mortgage_Information</name>
        <label>About Your Mortgage</label>
        <locationX>184</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calculate_Quote</targetReference>
        </connector>
        <fields>
            <name>Mortgage_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Mortgage Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Term_months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>360.0</numberValue>
            </defaultValue>
            <fieldText>Term (months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Interest_Rate</name>
            <dataType>Number</dataType>
            <fieldText>Interest Rate (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>3</scale>
        </fields>
    </screens>
    <screens>
        <name>Show_Quote</name>
        <label>Show Quote</label>
        <locationX>308</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>Thank you for contacting us for your mortgage business. Based on the information you gave us, a  {!Term_months} mortgage of {!Mortgage_Amount} would result in payments of {!vaMonthlyAmount} per month.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Customer_Information</startElementReference>
    <variables>
        <name>User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaMonthlyAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
