src/flows/Travel_Management-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Argentina</name>
        <choiceText>Argentina</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Asia_Pacific</name>
        <choiceText>Asia Pacific</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asia Pacific</stringValue>
        </value>
    </choices>
    <choices>
        <name>Australia</name>
        <choiceText>Australia</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bhutan</name>
        <choiceText>Bhutan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brazil</name>
        <choiceText>Brazil</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>India</name>
        <choiceText>India</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Israel</name>
        <choiceText>Israel</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Jordan</name>
        <choiceText>Jordan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mexico</name>
        <choiceText>Mexico</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Middle_East</name>
        <choiceText>Middle East</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_Zealand</name>
        <choiceText>New Zealand</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>North_America</name>
        <choiceText>North America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>North America</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oman</name>
        <choiceText>Oman</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pakistan</name>
        <choiceText>Pakistan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Peru</name>
        <choiceText>Peru</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Singapore</name>
        <choiceText>Singapore</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>South_America</name>
        <choiceText>South America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>South America</stringValue>
        </value>
    </choices>
    <choices>
        <name>South_East_Asia</name>
        <choiceText>South East Asia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>South East Asia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sri_Lanka</name>
        <choiceText>Sri Lanka</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Thailand</name>
        <choiceText>Thailand</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender</name>
        <choiceText>Transgender</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transsexual</name>
        <choiceText>Transsexual</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CustomerAlredyExist</name>
        <label>CustomerAlredyExist?</label>
        <locationX>386</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>CreateNewCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CustomerNotExist</defaultConnectorLabel>
        <rules>
            <name>CustomerExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookupForLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TravelDetails</targetReference>
            </connector>
            <label>CustomerExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichRegionChosen</name>
        <label>WhichRegionChosen</label>
        <locationX>514</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>Nothing Chosen</defaultConnectorLabel>
        <rules>
            <name>South_Ameican_Countries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Travel_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>South_America</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChoseSouthAmericanCountries</targetReference>
            </connector>
            <label>South Ameican Countries</label>
        </rules>
        <rules>
            <name>Asia_Pacific_Countries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Travel_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Asia_Pacific</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChoseAsiaPacificCountries</targetReference>
            </connector>
            <label>Asia Pacific Countries</label>
        </rules>
        <rules>
            <name>Middle_Eastern_Countries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Travel_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Middle_East</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChoseMiddleEasternCountries</targetReference>
            </connector>
            <label>Middle Eastern Countries</label>
        </rules>
        <rules>
            <name>South_East_Asian_Countries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Travel_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>South_East_Asia</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChoseSouthEastAsianCountries</targetReference>
            </connector>
            <label>South East Asian Countries</label>
        </rules>
        <rules>
            <name>NorthAmericanCountries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Travel_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>North_America</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChoseNorthAmericanCountries</targetReference>
            </connector>
            <label>NorthAmericanCountries</label>
        </rules>
    </decisions>
    <label>Travel Management</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewCustomer</name>
        <label>CreateNewCustomer</label>
        <locationX>281</locationX>
        <locationY>160</locationY>
        <assignRecordIdToReference>vCutomerId</assignRecordIdToReference>
        <connector>
            <targetReference>TravelDetails</targetReference>
        </connector>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>CustomerAge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>VCustomerCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>CustomerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CustomerFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>CustomerGender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CustomerLastName</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>LookupForLead</name>
        <label>LookupForLead</label>
        <locationX>209</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerAlredyExist</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerLastName</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <screens>
        <name>ChoseAsiaPacificCountries</name>
        <label>Select a country</label>
        <locationX>597</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AsiaPacificCountiesChoices</name>
            <choiceReferences>Australia</choiceReferences>
            <choiceReferences>Thailand</choiceReferences>
            <choiceReferences>Singapore</choiceReferences>
            <choiceReferences>New_Zealand</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AsiaPacificCountiesChoices</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ChoseMiddleEasternCountries</name>
        <label>Select a country</label>
        <locationX>773</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MiddleEasternCountiesChoices</name>
            <choiceReferences>Israel</choiceReferences>
            <choiceReferences>Oman</choiceReferences>
            <choiceReferences>Jordan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MiddleEasternCountiesChoices</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ChoseNorthAmericanCountries</name>
        <label>Select a country</label>
        <locationX>926</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NorthAmericanCountiesChoices</name>
            <choiceReferences>USA</choiceReferences>
            <choiceReferences>Canada</choiceReferences>
            <choiceReferences>Mexico</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NorthAmericanCountiesChoices</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ChoseSouthAmericanCountries</name>
        <label>ChoseSouthAmericanCountries</label>
        <locationX>419</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SouthAmericanCountiesChoices</name>
            <choiceReferences>Brazil</choiceReferences>
            <choiceReferences>Argentina</choiceReferences>
            <choiceReferences>Peru</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a country</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ChoseSouthEastAsianCountries</name>
        <label>ChoseSouthEastAsianCountries</label>
        <locationX>220</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SothEastAsianCountiesChoices</name>
            <choiceReferences>India</choiceReferences>
            <choiceReferences>Pakistan</choiceReferences>
            <choiceReferences>Sri_Lanka</choiceReferences>
            <choiceReferences>Bhutan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a country</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>EnterDetails</name>
        <label>EnterDetails</label>
        <locationX>41</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupForLead</targetReference>
        </connector>
        <fields>
            <name>CustomerFirstName</name>
            <dataType>String</dataType>
            <fieldText>CustomerFirstName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerLastName</name>
            <dataType>String</dataType>
            <fieldText>CustomerLastName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerAge</name>
            <dataType>Number</dataType>
            <fieldText>CustomerAge</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CustomerEmail</name>
            <dataType>String</dataType>
            <fieldText>CustomerEmail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerGender</name>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <choiceReferences>Transgender</choiceReferences>
            <choiceReferences>Transsexual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CustomerGender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>TravelDetails</name>
        <label>TravelDetails</label>
        <locationX>515</locationX>
        <locationY>161</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WhichRegionChosen</targetReference>
        </connector>
        <fields>
            <name>TravelDetailsHeading</name>
            <fieldText>Please Choose a region.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Travel_Region</name>
            <choiceReferences>North_America</choiceReferences>
            <choiceReferences>South_America</choiceReferences>
            <choiceReferences>Asia_Pacific</choiceReferences>
            <choiceReferences>Middle_East</choiceReferences>
            <choiceReferences>South_East_Asia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Travel Region</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>EnterDetails</startElementReference>
    <variables>
        <name>VCustomerCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NoCompany</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCutomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
